# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Entornos virtuales
env/
venv/
.venv/
env.bak/
venv.bak/
env
.env
env_name/
# Archivos de usuario
*.swp
*.swo
.DS_Store
Thumbs.db

# Informes
reports/
output/
figures/

#Datos
Normal/
Normal_test/
Stroke/
Stroke_test/

#Sql
session.sql

